@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Work+Sans:wght@300;400&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #747474;
  padding-top: 70px;
}

header {
  position: fixed;
  z-index: 555;
  background-color: white;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ababab;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
}

p {
  margin: 12.8px 0;
  text-align: justify;
}

/* Utility Classes */
.container {
  max-width: 1015px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  gap: 0 30px;
}

.col-2{
  width: 50%;
}

.text-primary {
  color: #00b39b;
}

.bg-primary{
  background-color: #00b39b;
}

.bg-secondary{
  background-color: #3d83df;
}

.bg-dark{
  background-color: #1b2734;
}


/* Navbar Style */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.navbar .logo {
  height: 33px;
  width: 268px;
}

.navbar .main-nav {
  display: flex;
}

.navbar .main-nav a {
  padding: 0 9px;
  font-size: 15px;
}

.navbar .main-nav a:hover,
.navbar .main-nav a.current {
  color: #00b39b;
}

.navbar .dropdown {
  position: relative;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0 5px 10px 0 #d3cfc9;
  background: #fff;
  min-width: 220px;
  right: 0;
}

.navbar .dropdown-content a {
  display: block;
  padding: 12px 16px;
}

.navbar .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}

/* Lead Section */
.lead h1 {
  font-size: 34px;
  text-align: center;
  margin: 34px auto;
}

.lead img {
  display: block;
  margin: 34px auto;
}



.lead .flex p {
  line-height: 28px;
}

/* services section  */

.services{
  display: grid;
  /* grid-template-columns: 33.33% 33.33% 33.33%; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.services .service-item {
  display: flex;
  flex-direction: column;
  padding: 22px 20px 0;
  justify-content: space-around;
  height: 354px;
  border-radius: 10px;
  color: white;

}

.services .service-item h1{
  font-size: 26px;
  font-weight: 400;
  margin: 6px 0;

}

.services .service-item h2{
  line-height: 1.2;
}

.services .service-item select{
  width: 100%;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0 2em 0 0;/* 
    -webkit-appearance: none; */
    outline: 0;
    text-transform: none;
    text-decoration: underline;
    cursor: pointer;
    color: white;
    font-size: 19.2px;
}

services .service-item select option{
  color: #000;
}


/* section brands */

.brands{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 40px auto 50px;
  padding: 0 20px;
}
.brands h1{
  font-size: 26px;
  line-height: 33.8px;
}

.brands ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-column-start: 2;
  grid-column-end: 4;
}

.brands ul a{
  display: block;
  padding: 5px;
}

.brands svg {
  height: 20px;
  width: auto;
  fill: #ababab ;
}

.brands svg:hover{
  fill: #00b39b;
}

.brands img{
  filter: grayscale(100%) opacity(40%) ;
}

.brands img:hover{
  filter: grayscale(0%);
}

/* stats section */
.stats{
  position: relative;
  background-image: url(https://www.docplanner.com/img/logo.png);
  background-repeat: no-repeat;
  background-position: 200px 250px;

  
}
.stats .flex{
  padding: 30px;
}

.stats-bg{
  position: absolute;
  z-index: -1;
  background: #e5faf8;
  background-image: linear-gradient(-45deg,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
  width: 100%;
  height: 100%;
}

.col-2:last-child{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;

}

.col-2:last-child .stat-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  
}

.stats h3{
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}
.stats h1{
  font-size: 34px;
}

.stats p{
  font-size: 13px;
  line-height: 1.7;
  text-align: center;
}

.stat-item:nth-child(odd){
  transform: translateY(15px);
}




